#content{
	z-index: 1;
    	position: relative;
    	text-align: center;
    	padding-top: 40vh;
	animation: glow 1s ease-in infinite;
	font-family: VT323;
	color: #fff;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

body {
	background-color: #3a052d;
}

h1{
	font-weight:500;
	font-size:5em;
}

hr{
	width:400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0,2);
}

.btn-default{
	color:#fff;
	background-color: rgba(90, 0, 37, 1);
	border: none;
	padding: .65em 1.4em;
	animation: glow 1s ease-in infinite;
}

.btn-default:hover {
	background-color: rgba(49, 0, 0, 1);
	color:#fff;
}

.fab{
	font-size:25px;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) { 
  background-image: url(http://source.unsplash.com/8WR86Z_mLms); 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://source.unsplash.com/croTkGSyM64);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://source.unsplash.com/uCZFdspF_3c);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://source.unsplash.com/T1YL4k6v4SU);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://source.unsplash.com/yb7eXISXZec);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

